@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: Lato , Arial;
    font-weight: 400;
    color: #701970;
}

h1, h2{
    font-family: Oswald, sans-serif;
    text-transform: capitalize;
    letter-spacing: 4px;
    color: #252525;
}
#logo{
    float: left;
    font-size: 280%;
}

#menu{
    font-size: 120%;
    letter-spacing: 4px;
}
#menu li{
    float: right;
    list-style: none;
    margin-right: 30px;
}
#logo, #menu{
    line-height: 75px;
}
a{
    text-decoration: none;
    color: inherit;
}
#menu a:hover{
    border-bottom: 2px solid;
    border-color: rgb(0, 72, 255);
}
.active{
    border-bottom: 2px solid;
    border-color: rgb(0, 72, 255);;
}
#hero-image{
    height: 600px; width: 100%;
    background: url("../images/hero-image.webp") no-repeat center center;
    animation-name: hero-zoom;
    animation-duration: 3s;
    animation-direction: reverse;
}
#hero-outer{
    position: relative;
    height: 600px; width: 100%;
    overflow: hidden;
}

#cover-text, #cover-text h2{
    color: aliceblue;
}

#cover-text{
    background-color: rgba(133, 201, 99, .7);
    height: 200px;
    width: 300px;
    font-size: 150%;
    padding: 20px;
    
    font-family: Oswald , sans-serif;

    bottom: 50px;
    right: 50px;
    position: absolute;
}

header{
    background-color: darkorange;
}
footer{
    background-color: blanchedalmond;
}
#sec2{
    background-color: aquamarine;
}
#sec3{
    background-color: chartreuse;
}
@keyframes hero-zoom{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }
}