@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: Lato , Arial;
    font-weight: 400;
    color: #701970;
}

h1, h2{
    font-family: Oswald, sans-serif;
    text-transform: capitalize;
    letter-spacing: 4px;
    color: #252525;
}
#logo{
    float: left;
    font-size: 280%;
}

#menu{
    font-size: 120%;
    letter-spacing: 4px;
}
#menu li{
    float: right;
    list-style: none;
    margin-right: 30px;
}
#logo, #menu{
    line-height: 75px;
}
a{
    text-decoration: none;
    color: inherit;
}
#menu a:hover{
    border-bottom: 2px solid;
    border-color: rgb(0, 72, 255);
}
.active{
    border-bottom: 2px solid;
    border-color: rgb(0, 72, 255);;
}
#hero-image{
    height: 600px; width: 100%;
    background: url("../images/hero-image.webp") no-repeat center center;
    animation-name: hero-zoom;
    animation-duration: 3s;
    animation-direction: reverse;
}
#hero-outer{
    position: relative;
    height: 600px; width: 100%;
    overflow: hidden;
}

#cover-text, #cover-text h2{
    color: aliceblue;
}

#cover-text{
    background-color: rgba(133, 201, 99, .7);
    height: 200px;
    width: 300px;
    font-size: 150%;
    padding: 20px;
    
    font-family: Oswald , sans-serif;

    bottom: 50px;
    right: 50px;
    position: absolute;
}

header{
    background-color: darkorange;
}
footer{
    background-color: blanchedalmond;
}

@keyframes hero-zoom{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }
}

#right-about{

    width: 33%;
    float: right;
}
#left-about{

    width: 33%;
    float: left;
}
#center-about{

    width: 33%;
    margin: 0 auto;
}
#club-ethos{
    height: 600px;
}
.left-about-heading{
    padding-bottom: 50px;
    width: 60%;
    float: right;
    line-height: 20px;
    clear:both;
}
.right-about-heading{
    padding-bottom: 50px;
    width: 60%;
    float: left;
    line-height: 20px;
    clear:both;
}
hr{
    border-bottom: black solid 1px;
    margin-top: 10px;
}

.right-about-heading h2{
    text-align: right;
}

.right-about-heading p{
    text-align: right;
}

#center-image{
    border: #701970 solid 1px;
    padding: 30px;
    border-radius: 50%;
    width: 280px;
    height: 280px;
    margin: 0 auto;
}

#welcome{
    text-align: center;
    margin-top: 20px;
    font-size: 280%;
}

#circle-cover-bg{
    background: url('../images/ethos-center-image.jpg')no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#times{
    background-color: burlywood;
    background: url("../images/dublin-city.webp");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}